In [1]:
import pandas as pd
import numpy as np

Load Data file into Pandas Dataframe

In [2]:
df = pd.read_csv('BankChurners.csv')
df

,CLIENTNUM,Attrition Flag,Customer Age,Gender,Dependent count,Education Level,Marital Status,Income Category,Card Category,Months on book,...,Months Inactive 12 mon,Contacts Count 12 mon,Credit Limit,Total Revolving Bal,Avg Open To Buy,Total Amt Chng Q4 Q1,Total Trans Amt,Total Trans Ct,Total Ct Chng Q4 Q1,Avg Utilization Ratio
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5993,718626033,Attrited Customer,47,M,3,High School,Married,$60K - $80K,Blue,39,...,3,2,10061.0,0,10061.0,0.787,2802,52,0.529,0.000
5994,720008133,Existing Customer,45,F,4,Graduate,Unknown,Unknown,Blue,36,...,1,3,3416.0,727,2689.0,0.580,4121,83,0.729,0.213
5995,710476908,Existing Customer,39,F,3,Graduate,Married,Unknown,Blue,28,...,3,3,9371.0,1066,8305.0,0.890,4754,78,0.857,0.114
5996,709888383,Existing Customer,47,F,3,Graduate,Married,Less than $40K,Blue,36,...,1,2,3147.0,2453,694.0,0.744,4465,82,0.952,0.779
5997,788864508,Existing Customer,52,F,3,Unknown,Single,Less than $40K,Blue,37,...,2,2,1554.0,926,628.0,0.785,4997,79,0.927,0.596

In [3]:
df.iloc[0]

CLIENTNUM                           768805383
Attrition Flag              Existing Customer
Customer Age                               45
Gender                                      M
Dependent count                             3
Education Level                   High School
Marital Status                        Married
Income Category                   $60K - $80K
Card Category                            Blue
Months on book                             39
Total Relationship Count                    5
Months Inactive 12 mon                      1
Contacts Count 12 mon                       3
Credit Limit                          12691.0
Total Revolving Bal                       777
Avg Open To Buy                       11914.0
Total Amt Chng Q4 Q1                    1.335
Total Trans Amt                          1144
Total Trans Ct                             42
Total Ct Chng Q4 Q1                     1.625
Avg Utilization Ratio                   0.061
Name: 0, dtype: object

Data Preprocessing

In [4]:
# Replace 0 with Existing Customer & 1 with Attrited Customer
df['Attrition Flag'] = df['Attrition Flag'].apply(lambda x: 1 if x == 'Attrited Customer' else 0)

In [5]:
df['Attrition Flag'].value_counts()

0    5212
1     786
Name: Attrition Flag, dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5998 entries, 0 to 5997
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CLIENTNUM                 5998 non-null   int64
 1   Attrition Flag            5998 non-null   int64
 2   Customer Age              5998 non-null   int64
 3   Gender                    5998 non-null   object
 4   Dependent count           5998 non-null   int64
 5   Education Level           5998 non-null   object
 6   Marital Status            5998 non-null   object
 7   Income Category           5998 non-null   object
 8   Card Category             5998 non-null   object
 9   Months on book            5998 non-null   int64
 10  Total Relationship Count  5998 non-null   int64
 11  Months Inactive 12 mon    5998 non-null   int64
 12  Contacts Count 12 mon     5998 non-null   int64
 13  Credit Limit              5998 non-null   float64
 14  Total Revolving Bal       5998 non-null   int64
 15  Avg Open To Buy           5998 non-null   float64
 16  Total Amt Chng Q4 Q1      5998 non-null   float64
 17  Total Trans Amt           5998 non-null   int64
 18  Total Trans Ct            5998 non-null   int64
 19  Total Ct Chng Q4 Q1       5998 non-null   float64
 20  Avg Utilization Ratio     5998 non-null   float64
dtypes: float64(5), int64(11), object(5)
memory usage: 984.2+ KB

In [7]:
df['Marital Status'].value_counts()

Married     2886
Single      2274
Divorced     441
Unknown      397
Name: Marital Status, dtype: int64

In [8]:
# Replace 'Unknown' Marital Status records with mode

df['Marital Status'].replace('Unknown',df['Marital Status'].mode()[0]).value_counts()

Married     3283
Single      2274
Divorced     441
Name: Marital Status, dtype: int64

In [9]:
df['Education Level'].value_counts()

Graduate         1858
High School      1202
Uneducated        894
Unknown           885
College           586
Post-Graduate     294
Doctorate         279
Name: Education Level, dtype: int64

In [16]:
df['Contacts Count 12 mon'].value_counts()

2    1860
3    1857
4    1245
1     575
0     305
5     137
6      19
Name: Contacts Count 12 mon, dtype: int64