In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_excel('Churn for exploration purposes.xlsx')
df.shape

(3321, 21)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3321 entries, 0 to 3320
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   State           3321 non-null   object
 1   Account Length  3321 non-null   float64
 2   Area Code       3321 non-null   float64
 3   Phone           3321 non-null   object
 4   Int'l Plan      3321 non-null   object
 5   VMail Plan      3321 non-null   object
 6   VMail Message   3321 non-null   float64
 7   Day Mins        3321 non-null   float64
 8   Day Calls       3321 non-null   float64
 9   Day Charge      3321 non-null   float64
 10  Eve Mins        3321 non-null   float64
 11  Eve Calls       3321 non-null   float64
 12  Eve Charge      3321 non-null   float64
 13  Night Mins      3321 non-null   float64
 14  Night Calls     3321 non-null   float64
 15  Night Charge    3321 non-null   float64
 16  Intl Mins       3321 non-null   float64
 17  Intl Calls      3321 non-null   float64
 18  Intl Charge     3321 non-null   float64
 19  CustServ Calls  3321 non-null   float64
 20  Churn?          3321 non-null   object
dtypes: float64(16), object(5)
memory usage: 545.0+ KB

In [7]:
df.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,1.28,4.15,382-4657,no,yes,0.25,2.651,1.10,0.4507,...,0.99,0.1678,2.447,0.91,0.1101,0.100,0.03,0.0270,0.01,False.
1,OH,1.07,4.15,371-7191,no,yes,0.26,1.616,1.23,0.2747,...,1.03,0.1662,2.544,1.03,0.1145,0.137,0.03,0.0370,0.01,False.
2,NJ,1.37,4.15,358-1921,no,no,0.00,2.434,1.14,0.4138,...,1.10,0.1030,1.626,1.04,0.0732,0.122,0.05,0.0329,0.00,False.
3,OH,0.84,4.08,375-9999,yes,no,0.00,2.994,0.71,0.5090,...,0.88,0.0526,1.969,0.89,0.0886,0.066,0.07,0.0178,0.02,False.
4,OK,0.75,4.15,330-6626,yes,no,0.00,1.667,1.13,0.2834,...,1.22,0.1261,1.869,1.21,0.0841,0.101,0.03,0.0273,0.03,False.